# Most common categories of PFDs

Strategy: split "category" by ";" and "|", then groupby and count the frequency of categories. Select the top 10 categories. 

Total percentage will add up to more than 100%, as one PFD can belong to multiple category

# Category count for each individual year

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
names_processed_year = pd.read_csv('death_info_2022-06-23_processed_year.csv')
year_category = names_processed_year[['category', 'year']]
display(year_category.head())
display(year_category.shape)

                                            category    year
0  State Custody related deaths | Mental Health r...  2022.0
1  Emergency services related deaths (2019 onward...  2022.0
2  Hospital Death (Clinical Procedures and medica...  2022.0
3  Hospital Death (Clinical Procedures and medica...  2022.0
4  Hospital Death (Clinical Procedures and medica...  2022.0

(4001, 2)

#Get a count of how many categories per PFD 

Find median and IQR for each year

In [6]:
year_category['category_count'] = np.nan
for i in year_category.index: 
  item = str(year_category.loc[i, 'category'])
  counts = tuple(item.count(c) for c in '|;')
  year_category.loc[i, 'category_count'] = sum(counts)

display(year_category.head())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

                                            category    year  category_count
0  State Custody related deaths | Mental Health r...  2022.0             2.0
1  Emergency services related deaths (2019 onward...  2022.0             1.0
2  Hospital Death (Clinical Procedures and medica...  2022.0             1.0
3  Hospital Death (Clinical Procedures and medica...  2022.0             2.0
4  Hospital Death (Clinical Procedures and medica...  2022.0             1.0

#% PFDs which are not categorised

In [7]:
print(year_category[year_category['category_count']==0].shape)

(2939, 3)

In [9]:
twenty_one = year_category[year_category['year']==2021]
print(twenty_one.shape)
print(twenty_one[twenty_one['category_count']==0].shape)

(433, 3)
(144, 3)

#Now find the median, lower quartile, upper quartile of each year

In [ ]:
print(type(year_category.loc[0, 'year']))

<class 'numpy.float64'>

In [ ]:
display(year_category.describe())

              year  category_count
count  3998.000000     4001.000000
mean   2017.244372        0.371157
std       2.554497        0.721428
min    2013.000000        0.000000
25%    2015.000000        0.000000
50%    2017.000000        0.000000
75%    2019.000000        1.000000
max    2022.000000        8.000000

In [ ]:
for i in range(2013, 2023): 
  year = year_category[year_category['year']==i]
  display(year.describe())

         year  category_count
count   180.0           180.0
mean   2013.0             0.0
std       0.0             0.0
min    2013.0             0.0
25%    2013.0             0.0
50%    2013.0             0.0
75%    2013.0             0.0
max    2013.0             0.0

         year  category_count
count   568.0      568.000000
mean   2014.0        0.005282
std       0.0        0.072547
min    2014.0        0.000000
25%    2014.0        0.000000
50%    2014.0        0.000000
75%    2014.0        0.000000
max    2014.0        1.000000

         year  category_count
count   492.0      492.000000
mean   2015.0        0.093496
std       0.0        0.298329
min    2015.0        0.000000
25%    2015.0        0.000000
50%    2015.0        0.000000
75%    2015.0        0.000000
max    2015.0        2.000000

         year  category_count
count   479.0      479.000000
mean   2016.0        0.248434
std       0.0        0.487149
min    2016.0        0.000000
25%    2016.0        0.000000
50%    2016.0        0.000000
75%    2016.0        0.000000
max    2016.0        2.000000

         year  category_count
count   444.0      444.000000
mean   2017.0        0.211712
std       0.0        0.503036
min    2017.0        0.000000
25%    2017.0        0.000000
50%    2017.0        0.000000
75%    2017.0        0.000000
max    2017.0        3.000000

         year  category_count
count   418.0      418.000000
mean   2018.0        0.205742
std       0.0        0.454939
min    2018.0        0.000000
25%    2018.0        0.000000
50%    2018.0        0.000000
75%    2018.0        0.000000
max    2018.0        3.000000

         year  category_count
count   528.0      528.000000
mean   2019.0        0.416667
std       0.0        0.628744
min    2019.0        0.000000
25%    2019.0        0.000000
50%    2019.0        0.000000
75%    2019.0        1.000000
max    2019.0        3.000000

         year  category_count
count   311.0      311.000000
mean   2020.0        0.781350
std       0.0        0.829169
min    2020.0        0.000000
25%    2020.0        0.000000
50%    2020.0        1.000000
75%    2020.0        1.000000
max    2020.0        4.000000

         year  category_count
count   433.0      433.000000
mean   2021.0        1.129330
std       0.0        1.112594
min    2021.0        0.000000
25%    2021.0        0.000000
50%    2021.0        1.000000
75%    2021.0        2.000000
max    2021.0        8.000000

         year  category_count
count   145.0      145.000000
mean   2022.0        1.275862
std       0.0        1.108570
min    2022.0        0.000000
25%    2022.0        0.000000
50%    2022.0        1.000000
75%    2022.0        2.000000
max    2022.0        5.000000

In [ ]:
import re

And also for individual years (i.e. what are the most common categories of PFDs in 2013, 2014...2022? )

Idea: make a stacked bar chart of hospitalised vs non-hospitalised: https://pythonguides.com/stacked-bar-chart-matplotlib/


How to make bars stack on top of each other: https://github.com/minillinim/stackedBarGraph. https://stackoverflow.com/questions/19060144/more-efficient-matplotlib-stacked-bar-chart-how-to-calculate-bottom-values

In [ ]:
raw_list = []
# raw_list gets 10 dataframes: 2013, 2014, ....2022

for i in range(10): 
  raw_list.append(year_category[year_category['year']== 2013+i])
display(raw_list[0].head())

                    category    year
3749  Road (Highways Safety)  2013.0
3750        Care Home Health  2013.0
3751                   Other  2013.0
3752  Hospital Related Death  2013.0
3753        Care Home Health  2013.0

In [ ]:
print(raw_list[1]['category'].unique())

In [ ]:
year_list = []
for i in range(10): # in the range of 10 years
  category_list = raw_list[i]['category'].to_numpy() # category_list is a list
  category_separated = []
  for item in category_list: # item is a string
  
    item_separated = str(item).strip().replace(';', '|').replace('road', 'road safety').replace('hospital community health care', 'hospital | community health care').replace('hospital management', 'hospital').replace('community health care, hospital', 'community health care | hospital').replace('suicide, alcohol', 'suicide | alcohol').replace('road , community health care emergency service', 'road | community health care').replace('suicide , alcohol, drug and medication', 'suicide | alcohol, drug and medication').split('|') # item_separated is a list
    category_separated.append(item_separated) # turn rows of categories into a list [[item_separated, , ,  ], [], []]
  category_dict = {}
  for category in category_separated: # category_separated is a list of a list, category is a list
    for item in category: # item is a string, a phrase
      if item.strip()=='': 
        pass
      elif 'social care' in item: 
        pass
      elif 'service personnel' in item: 
        pass
      else:   
        item = item.strip()
        item = item.lower().replace('&', 'and').replace('child (from 2015', 'child').replace('suicide (from 2015', 'suicide').replace('suicide)', 'suicide').replace(' related', '')
        item = item.replace(' deaths', '').replace(' death', '').replace('healthcare', 'health care').replace('care home health', 'care home').replace('alcohol, drugs and medication', 'alcohol, drug and medication').replace('emergency services related', 'emergency services').replace('state custody related', 'state custody').strip() # get rid of trailing and leading spaces 
        item = item.replace('community health care services', 'community health care').replace('community health care and', 'community health care').replace('wales prevention of future', 'wales prevention of future report').replace('report report', 'report')
        item = item.replace('tate custody', 'state custody').replace('sstate custody', 'state custody').replace('hospital management', 'hospital').replace('road safety', 'road')
        item = item.replace('hospital (clinical procedures and medical', 'hospital').replace('hospital)', 'hospital').replace('hospital management)', 'hospital')
        item = item.replace('child (from 2015', 'child').replace('child)', 'child').replace('reports', 'report').replace('community health', 'community health care').replace('community health care care', 'community health care')
        item = item.replace('health and safety', 'accident at work and health and safety').replace('accident at work and accident at work and health and safety', 'accident at work and health and safety')
        item=re.sub("\(.*?\)","",item).strip()
        # some categories have "related" and some don't. I'm trying to strip "related" but without much success. 
        # For some reason python doesn't like ".strip", .replace(' related ', ' ')
        if item in category_dict: 
          category_dict[item] = category_dict[item] + 1
        elif item.strip()!= '': 
          category_dict[item] = 1
  df = pd.DataFrame()
  df['category'] = category_dict.keys()
  df['count'] = category_dict.values()
  df = df[df['category']!= 'nan']

  df.sort_values(by=['count'], ascending = False, inplace=True)  
  df.dropna(how = 'any') 
  year_list.append(df)

In [ ]:
#2013
#community health and emergency
year_list[0].loc[4, 'count'] = year_list[0].loc[4, 'count'] + 3
year_list[0].drop(index = 9, inplace = True)
# 2014
# drop service personnel
year_list[1].drop(index = 5, inplace = True)

#2015
# drop service personnel
year_list[2].drop(index = 13, inplace = True)
#community health and emergency
year_list[2].loc[2, 'count'] = year_list[2].loc[2, 'count'] + 1
year_list[2].drop(index = 0, inplace = True)

# 2016
year_list[3].loc[6, 'count'] = year_list[3].loc[6, 'count'] + 1
year_list[3].drop(index = 0, inplace = True)

#2017
#drop service personnel
year_list[4].drop(index = 13, inplace = True)

# 2018
#drop service personnel
year_list[5].drop(index = 15, inplace = True)
#drop dept of social care
year_list[5].drop(index = 18, inplace = True)
# community health care
year_list[5].loc[5, 'count'] = year_list[5].loc[5, 'count']+1
year_list[5].drop(index = 0, inplace = True)
# alcohol and suicide
year_list[5].loc[1, 'count'] = year_list[5].loc[1, 'count']+1
year_list[5].loc[7, 'count'] = year_list[5].loc[7, 'count']+1
year_list[5].drop(index = 10, inplace = True)

#2019
# service personnel
year_list[6].drop(index = 13, inplace = True)
year_list[6].loc[3, 'category'] = 'community health care emergency services'

In [ ]:
#2020
#service personnel
year_list[7].drop(index = 19, inplace = True)

#hospital management
year_list[7].loc[2, 'count'] = year_list[7].loc[2, 'count'] + 1
year_list[7].drop(index = 23, inplace = True)

# road community health care, other 
year_list[7].loc[12, 'count'] = year_list[7].loc[12, 'count'] + 1
year_list[7].loc[14, 'count'] = year_list[7].loc[14, 'count'] + 1
year_list[7].loc[0, 'count'] = year_list[7].loc[0, 'count'] + 1
year_list[7].drop(index = 16, inplace = True)

# road safety
year_list[7].loc[12, 'count'] = year_list[7].loc[12, 'count'] + 1
year_list[7].drop(index = 21, inplace = True)

# community health care, hospital
year_list[7].loc[2, 'count'] = year_list[7].loc[2, 'count'] + 2
year_list[7].loc[14, 'count'] = year_list[7].loc[14, 'count'] + 2
year_list[7].loc[14, 'count'] = year_list[7].loc[14, 'count'] + 55
year_list[7].drop(index = 3, inplace = True)
year_list[7].drop(index = 22, inplace = True)
year_list[7].drop(index = 9, inplace = True)

# 2021
# community health care
year_list[8].loc[16, 'count'] = year_list[8].loc[16, 'count'] + 78
year_list[8].drop(index = 2, inplace = True)
# drop service personnel
year_list[8].drop(index = 15, inplace = True)

# 2022
year_list[9].loc[10, 'category'] = 'community health care emergency services'

# Check totals

Total across 10 years should be more, but not much more than 5429

In [ ]:
total = 0
for year in year_list: 
  total = total + year['count'].sum()
print(total)

# Stacked bar chart

1. Scale the hospital deaths down by a factor n
2. Plot more categories by a for loop

In [ ]:
n = 4
for year in year_list: 
  year['scaled count'] = year['count']
  year.loc[year['category']=='hospital', 'scaled count' ]= year.loc[year['category']=='hospital', 'count'].values[0]/n

Year-total Used to check whether the graph is plotted correctly later when plotting the stacked bar graph

In [ ]:
year_total = []
for year in year_list: 
  year_total.append(year['count'].sum())
print(year_total)

In [ ]:
print(sum(year_total))
# get 5431. Agrees!

In [ ]:
zero_list = [0, 0, 0, 0, 0,0, 0, 0, 0, 0]

To plot the graph, need dict of categories, corresponding to a list of PFD report numbers in 10 years

In [ ]:
category_dict = {'hospital':zero_list, "community health care emergency services": zero_list, 
                 'other': zero_list, 'road': zero_list, 'state custody': zero_list,  
                 'suicide': zero_list, 'wales prevention of future report': zero_list, 
                 'mental health': zero_list, 'emergency services': zero_list, 
                 'alcohol, drug and medication': zero_list, 'police': zero_list, 
                 'accident at work and health and safety':zero_list, 'child': zero_list, 
                  'care home': zero_list, 'product': zero_list, 'railway': zero_list}

In [ ]:
category_np = np.zeros((10, 16))
for category in category_dict.keys(): 
  index = list(category_dict.keys()).index(category)
  for i in range(10): #loop through the years
    year = year_list[i]
    category_year = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    if (year['category'].eq(category)).any(): 
      # The way I append is problematic. It makes it end up with the same distribution for every single category. 
      # Everything is the same as "Accident"
      value = year.loc[year['category']==category, 'scaled count'].values[0]
      category_dict[category][i] = value
      # Try numpy way again
      
      category_np[i, index] = value
  category_dict[category] = category_np[:, index]

In [ ]:
print(len(category_dict.keys()))

In [ ]:
category_df = pd.DataFrame(category_dict)

In [ ]:
display(category_df)

In [ ]:
category_df.rename(columns = {'suicide': 'suicide (2015 onwards)', 'community health care emergency services': 'community health & emergency services', 'child': 'child (2015 onwards)','emergency services': 'emergency services (2019 onwards)', 'wales prevention of future report': 'Wales (2019 onwards)', 'accident at work and health and safety': 'accident at work, health & safety', 'alcohol, drug and medication': 'alcohol, drug & medication' }, inplace = True)

In [ ]:
fig, ax = plt.subplots(1, 1, figsize = (10, 10))
colors = plt.cm.Spectral(np.linspace(0, 1, 16))
years = range(2013, 2023)
category_df.plot(kind='bar', stacked=True, figsize=(10, 10), color=colors, edgecolor='black', ax = ax)
ax.legend(bbox_to_anchor =(-0.10, 1)) # try to put legend outside
plt.xlabel('Years (2013-2022)')
plt.ylabel('Number of PFD reports')
plt.xticks(ticks =range(10), labels = years, rotation=0) # try to label x axis
plt.savefig('category_stacked.png', bbox_inches = 'tight')
plt.show()

In [ ]:
display(year_list[0])

In [ ]:
display(category_df)

now I plot the horizontal bar graph

In [ ]:
category = category_df.sum(axis=0)
display(category)

In [ ]:
category = pd.DataFrame(category, columns = ['count'])

In [ ]:
category.reset_index(inplace = True)
category.rename(columns = {'index': 'category'} , inplace = True)

In [ ]:
category.loc[category['category']=='hospital', 'count'] = category.loc[category['category']=='hospital', 'count']*4

In [ ]:
display(category)

Rename columns so they look nice

In [ ]:
category.loc[category['category']=='Wales (2019 onwards)', 'category'] = 'Wales prevention of future deaths report (2019 onwards)'

In [ ]:
category.sort_values(by = 'count', ascending = False, inplace = True)
category['count'] = category['count'].astype(int)
display(category)

In [ ]:
category.to_csv('PFDs_by_category_16.csv')

In [ ]:
category.loc[category['category']=='community health & emergency services', 'category'] = 'community health & emergency'
category.loc[category['category']=='Wales prevention of future deaths report (2019 onwards)', 'category'] = 'Wales (2019 onwards)'

In [ ]:
category.sort_values(by = 'count', ascending = True, inplace = True)

In [ ]:
plt.figure(figsize=(10, 6))
plt.barh(category['category'], category['count'])
plt.xlabel('Number of related PFDs (2013-2022)')
plt.ylabel('Death category')
plt.savefig('PFDs_by_category_2022-06-22.png', bbox_inches = 'tight')
plt.show()

#Make stacked bar chart for new categories

In [ ]:
category_new_df = category_df[['suicide (2015 onwards)', 'Wales (2019 onwards)', 'emergency services (2019 onwards)', 'child (2015 onwards)']]
category_new_df = category_new_df[2:]
display(category_new_df)

In [ ]:
years = range(2015, 2023)
category_new_df.plot(kind='bar', stacked=True, figsize=(10, 10),  edgecolor='black')
plt.legend(bbox_to_anchor =(0.45, 1)) # try to put legend outside
plt.xlabel('Years (2015-2022)')
plt.ylabel('Number of PFD reports')
plt.xticks(ticks = range(8), labels = range(2015, 2023), rotation = 0) # try to label x axis
plt.savefig('new_category_stacked.png', bbox_inches = 'tight')
plt.show()

#Make bar chart of persistent categories

In [ ]:
print(category_df.columns)

In [ ]:
category_old_df = category_df[['hospital', 'community health & emergency services', 'other', 'road',
       'state custody', 'mental health', 
       'alcohol, drug & medication', 'police',
       'accident at work, health & safety', 
       'care home', 'product', 'railway']]
display(category_old_df)

In [ ]:
years = range(2013, 2023)
colors = plt.cm.Spectral(np.linspace(0, 1, 16))
category_old_df.plot(kind='bar', stacked=True, figsize=(10, 10),  color = colors, edgecolor='black')
plt.legend(bbox_to_anchor =(-0.10, 1)) # try to put legend outside
plt.xlabel('Years (2013-2022)')
plt.ylabel('Number of PFD reports')
plt.xticks(ticks = range(10), labels = range(2013, 2023), rotation = 0) # try to label x axis
plt.savefig('persistent_category_stacked.png', bbox_inches = 'tight')
plt.show()

# Turn category_df into a table to show on website

In [ ]:
display(category_df)

In [ ]:
category_csv = category_df
category_csv['hospital'] = category_csv['hospital']*4

In [ ]:
display(category_csv)

In [ ]:
category_csv.loc[10, :] = category_csv.sum(axis = 0)

In [ ]:
category_csv['year totals'] = category_csv.sum(axis = 1)

In [ ]:
display(category_csv)

In [ ]:
category_csv['Year'] = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 'Category totals']
temp_cols=category_csv.columns.tolist()
new_cols=temp_cols[-1:] + temp_cols[:-1]
category_csv=category_csv[new_cols]

In [ ]:
for col in category_csv.columns[1:]: 
  category_csv[col] = category_csv[col].astype(int)

In [ ]:
category_csv.to_csv('category_year.csv')

# Plot individual categories

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
category = pd.read_csv('/content/category_year.csv')

In [ ]:
display(category)

In [ ]:
category_list = category.columns[2:len(category.columns)-1]

In [ ]:
for cat in category_list: 
  plt.figure(figsize=(10, 6))
  plt.bar(category['Year'][:10], category[cat][:10])
  plt.xlabel('Years (2013-2022)')
  plt.ylabel('Number of PFDs in {}'.format(str(cat)))
  plt.savefig('pfd_{}.png'.format(str(cat)), bbox_inches = 'tight')
  plt.show()